.div.m-4
  %h1.mb-4
    = t("application.start_message")

.float-left.ml-4
  = link_to t("application.buttons_dashboard.trainers"), pokemon_trainers_path, class: 'btn btn-danger'
.float-left.ml-4
  = link_to t("application.buttons_dashboard.pokemons"), pokemons_path, class: 'btn btn-primary'
.float-left.ml-4
  = link_to t("application.buttons_dashboard.captured"), captured_pokemons_path, class: 'btn btn-warning'