.div.m-4
  %h1.mb-4
    = "Crud disponibles"

.float-left.ml-4
  = link_to "Entrenadores Pokemon", pokemon_trainers_path, class: "btn btn-danger"
.float-left.ml-4
  = link_to "Pokemons", pokemons_path, class: "btn btn-primary"
.float-left.ml-4
  = link_to "Pokemons atrapados", captured_pokemons_path, class: "btn btn-warning"