.div.m-4
  %h1.mb-4
    = "Crud disponibles"

.float-left.ml-4
  = link_to "Entrenadores Pokemon", new_pokemon_trainer_path, class: "btn btn-danger"
.float-left.ml-4
  = link_to "Pokemons", root_path, class: "btn btn-primary"
.float-left.ml-4
  = link_to "Pokemons atrapados", root_path, class: "btn btn-warning"