.div.m-4
  %h1.mb-4
    = t('application.available_CRUDs')

.float-left.ml-4
  = link_to t('activerecord.modules.pokemon_trainer.other'), pokemon_trainers_path, class: 'btn btn-danger'
.float-left.ml-4
  = link_to t('activerecord.modules.pokemon.other'), pokemons_path, class: 'btn btn-primary'
.float-left.ml-4
  = link_to t('activerecord.modules.captured_pokemon.other'), captured_pokemons_path, class: 'btn btn-warning'