.div.m-4
  %h1.mb-4
    = t('application.cruds_available')

.float-left.ml-4
  = link_to t('activerecord.modules.pokemon_trainer.first_upper_other'), pokemon_trainers_path, class: 'btn btn-danger'
.float-left.ml-4
  = link_to t('activerecord.modules.pokemon.first_upper_other'), pokemons_path, class: 'btn btn-primary'
.float-left.ml-4
  = link_to t('activerecord.modules.captured_pokemon.first_upper_other'), captured_pokemons_path, class: 'btn btn-warning'