.div.m-4
  %h1.mb-4
    = t("application.available_cruds")

.float-left.ml-4
  = link_to "Entrenadores Pokemon", pokemon_trainers_path, class: 'btn btn-danger'
.float-left.ml-4
  = link_to "Pokemons", root_path, class: 'btn btn-primary'
.float-left.ml-4
  = link_to "Pokemons atrapados", root_path, class: 'btn btn-warning'