.div.m-4
  .page-header
    %h1.mb-4
      = t('application.list_of', model: t('activerecord.modules.pokemons.other'))
    .float-right
      = link_to t('application.new', model: t('activerecord.modules.pokemons.one')), new_pokemon_path, class: "btn btn-primary"

  %table.table.table-striped
    %thread
      %tr
        %th= t('activerecord.attributes.pokemon.name')

    %tbody
      - @pokemons.each do |pokemon|
        %tr
          %td= pokemon.name