.div.m-4
  .page.header
    %p{:style => "color: green"}= notice
    %h1.mb-4
      = "Lista de pokemones"
  %table.table.table-striped
    %thread
      %tr
        %th= "Nombre"
    %tbody
      - @pokemons.each do |pokemon|
        %tr
          %td= pokemon.name
