.div.m-4
  .page.header
    %p{:style => "color: green"}= notice
    %h1.mb-4
      = t('application.list_of', model: t('activerecord.modules.pokemon.other'))
  %table.table.table-striped
    %thread
      %tr
        %th= t('activerecord.attributes.pokemon.name')
        %th
        %th
        %th
    %tbody
      - @pokemons.each do |pokemon|
        %tr
          %td= pokemon.name
          %td
          %td
          %td